*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.car{
  position: relative;
  width: 400vw;
  overflow-x: hidden; 
  overflow-y: hidden;
}
.carList{
  display: flex;
  overflow-x: hidden; 
  overflow-y: hidden;
}
.carList div{
  display: inline-block;
  height: 500px;
  width: 100vw;
  overflow-x: hidden; 
  overflow-y: hidden;
}

h1{
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: 'Odibee Sans', cursive;
  margin-bottom: 0;
}

#css {
  color: yellow;
  font-family: 'Odibee Sans', cursive;
}

.carousel-wrapper {
  height: 400px;
  position: relative;
  width: 100%;
  display: block;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}
.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

}
.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
  display: none;
}
.item-1 {
  z-index: 2;
  opacity: 1;
  background-color: red;
  background-size: cover;
}
.item-2 {
  background-color: blue;
  background-size: cover;
}
.item-3 {
  background-color: yellow;
  background-size: cover;
}

*:target ~ .item-1{
  opacity: 0;
}
#item-1:target ~ .item-1 {
  opacity: 1;

}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
} 

.carAnimation{
  width: 100%;
  height: 500px;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%{

    background-image: url('images/img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  25%{

    background-image: url('images/img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  50%{

    background-image: url('images/img3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100%{
   
    background-image: url('images/img4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.whiteContainer{
  position: relative;
  background-image: url('images/img1.jpg'); 
  width: 100%; 
  height: 500px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whiteContainer :nth-child(1){
  position: absolute;
  display: inline; 
  background-color: white; 
  height: 500px; 
  width: 25%; 
}
.whiteContainer :nth-child(2){
  position: absolute;
  display: inline; 
  height: 500px; 
  width: 50%; 
}
.whiteContainer :nth-child(3){
  position: absolute;
  display: inline; 
  background-color: white; 
  height: 500px; 
  width: 25%;  
  right: 0;
}